{{ layout | remove: '{"layout"=>"' | remove: '"'}}  
{{ page.layout }}  
{{ site.layout }}  

<!-- A: ({{ page.ads }}•{{ site.ads }}) -->
{% if page.ads == "enabled" %}
<link href="https://www.pc-cdn.de/cdn/ads-style/{{ layout | remove: '{"layout"=>"' | remove: '"'}}.css" rel="stylesheet">
<div class="werbung">	
	<div class="hwadwmobile">Anzeige:</div>
	<div class="adw">
	  <p id="adsContent" class="werbungmobile"><img src="https://template.pc-cdn.de/assets/bg-images/onepixel-transparent.png" class="adsphimgmobile"></p>
	</div>
</div>
{% elsif site.ads == "enabled" %}
<link href="https://www.pc-cdn.de/cdn/ads-style/{{ layout | remove: '{"layout"=>"' | remove: '"'}}.css" rel="stylesheet">
<div class="werbung">	
	<div class="hwadwmobile">Anzeige:</div>
	<div class="adw">
	  <p id="adsContent" class="werbungmobile"><img src="https://template.pc-cdn.de/assets/bg-images/onepixel-transparent.png" class="adsphimgmobile"></p>
	</div>
</div>
{% endif %}
<!-- :A -->
