<script type="text/plain" data-cookiefirst-category="necessary" src="https://cc.pc-cdn.de/all/necessary.js"></script>
<script type="text/plain" data-cookiefirst-category="functional" src="https://cc.pc-cdn.de/all/functional.js"></script>
<script type="text/plain" data-cookiefirst-category="performance" src="https://cc.pc-cdn.de/all/performance.js"></script>
<script type="text/plain" data-cookiefirst-category="advertising" src="https://cc.pc-cdn.de/all/advertising.js"></script>


<script type="text/plain" data-cookiefirst-category="necessary" src="https://cc.pc-cdn.de/i/{{ site.url | remove: "https://" | remove: "http://" }}/necessary.js"></script>
<script type="text/plain" data-cookiefirst-category="functional" src="https://cc.pc-cdn.de/i/{{ site.url | remove: "https://" | remove: "http://" }}/functional.js"></script>
<script type="text/plain" data-cookiefirst-category="performance" src="https://cc.pc-cdn.de/i/{{ site.url | remove: "https://" | remove: "http://" }}/performance.js"></script>
<script type="text/plain" data-cookiefirst-category="advertising" src="https://cc.pc-cdn.de/i/{{ site.url | remove: "https://" | remove: "http://" }}/advertising.js"></script>
