<script type="text/plain" data-cookiefirst-category="necessary" src="https://cc.pc-cdn.de/all/necessary.js"></script>
<script type="text/plain" data-cookiefirst-category="functional" src="https://cc.pc-cdn.de/all/functional.js"></script>
<script type="text/plain" data-cookiefirst-category="performance" src="https://cc.pc-cdn.de/all/performance.js"></script>
<script type="text/plain" data-cookiefirst-category="advertising" src="https://cc.pc-cdn.de/all/advertising.js"></script>

<!--
<script type="text/plain" data-cookiefirst-category="necessary" src="https://cc.pc-cdn.de/i/example.com/necessary.js"></script>
<script type="text/plain" data-cookiefirst-category="functional" src="https://cc.pc-cdn.de/i/example.com/functional.js"></script>
<script type="text/plain" data-cookiefirst-category="performance" src="https://cc.pc-cdn.de/i/example.com/performance.js"></script>
<script type="text/plain" data-cookiefirst-category="advertising" src="https://cc.pc-cdn.de/i/example.com/advertising.js"></script>
-->
