<script type="text/javascript" src="https://c0.wp.com/p/jetpack/9.9.1/_inc/build/widgets/eu-cookie-law/eu-cookie-law.min.js" id="eu-cookie-law-script-js"></script>
<div id="secondary" class="widget-area" role="complementary">
						<aside id="eu_cookie_law_widget-2" class="widget widget_eu_cookie_law_widget">
<div class="hide-on-button" data-hide-timeout="30" data-consent-expiration="180" id="eu-cookie-law">
	<form method="post">
		<input type="submit" value="Schließen und akzeptieren" class="accept">
	</form>

	Datenschutz &amp; Cookies: Diese Website verwendet Cookies. Wenn du die Website weiterhin nutzt, stimmst du der Verwendung von Cookies zu. <br>
Weitere Informationen, beispielsweise zur Kontrolle von Cookies, findest du hier:
		<a href="https://goto.c-pfeiffer.de/datenschutz" rel="">
		Cookie-Richtlinie	</a>
</div>
</aside>					</div>