<!-- enter Code:  Navigation / example:-->

<div class="header-position">

<!--<h1 class="logo">{{ page.title }}</h1>-->
<nav class="site-nav">
<ul>
 <li><a href="/"        style="text-decoration:none; color:#fff">Home</a></li>
 <li><a href="#1"       style="text-decoration:none; color:#fff">Kontakt</a></li>
 <li><a href="#2"       style="text-decoration:none; color:#fff">Impressum</a></li>
 <li><a href="#3"       style="text-decoration:none; color:#fff">Haftungsausschluss</a></li>
 <li><a href="#4"       style="text-decoration:none; color:#fff">Datenschutz</a></li>
 <li><a href="#5"       style="text-decoration:none; color:#fff">Quellennachweise</a></li>
 </ul>
</nav>

</div>
