<!-- 
######## Navigation für alle PC-CDN Seiten
########    und die meisten Unterseiten!
########
####    (c) PfeifferChPT/pc-cdn-template
#### für Forks und diverse Unterseiten bitte
#### Kopie in der Repo anlegen und Editieren... 
-->


<div class="header-position">

<img src="{% if page.themelogo %}{{ page.themelogo }}{% elsif site.themelogo %}{{ site.themelogo }}{% else %}https://template.pc-cdn.eu/assets/bg-images/onepixel-transparent.png{% endif %}">

<nav class="site-nav">
<ul>
{% include navigation.html %}
</ul>
</nav>

{% if site.name == "ISE Quellennachweise" %}
<hr>

<nav class="categ-nav">
Kategorie Auswahl:
<!-- categories -->
<div id="archives"> 
<ul>
 {% for category in site.categories %} 
 {% capture category_name %}{{ category | first }}{% endcapture %} 
  <li><a href="/categories/index.html#{{ category_name | slugize }}" name="{{ category_name | slugize }}">{{ category_name | slugize }}</a></li>
 {% endfor %}
</ul>
</div>
<!-- /categories -->
</nav>
{% endif %}

</div>
