<!-- 
######## Navigation für alle PC-CDN Seiten
########    und die meisten Unterseiten!
########
####    (c) PfeifferChPT/pc-cdn-template
#### für Forks und diverse Unterseiten bitte
#### Kopie in der Repo anlegen und Editieren... 
-->


<div class="header-position">

{% if site.themelogo %}
<img src="{{ site.themelogo }}">
{% endif %}

{% if page.themelogo %}{{ page.themelogo }}{% elsif post.themelogo %}{{ post.themelogo }}{% elsif site.themelogo %}{{ site.themelogo }}{% else %}https://template.pc-cdn.de/assets/img/logo/logo.png{% endif %}

<nav class="site-nav">
<ul>
 <li><a href="/"        style="text-decoration:none; color:#fff">Home</a></li>
 <li><a href="https://goto.pc-cdn.de/kontakt"       style="text-decoration:none; color:#fff">Kontakt</a></li>
 <li><a href="https://goto.pc-cdn.de/impressum"       style="text-decoration:none; color:#fff">Impressum</a></li>
 <li><a href="https://goto.pc-cdn.de/haftungsausschluss"       style="text-decoration:none; color:#fff">Haftungsausschluss</a></li>
 <li><a href="https://goto.pc-cdn.de/datenschutz"       style="text-decoration:none; color:#fff">Datenschutz</a></li>
 <li><a href="https://goto.pc-cdn.de/quellenangaben"       style="text-decoration:none; color:#fff">Quellennachweise</a></li>
 </ul>
</nav>

</div>
