<!-- enter Code:  Navigation / example:-->

<div class="header-position">

<!-- {% if site.themelogo %}
<img src="{{ site.themelogo }}">
{% endif %} -->

<img src="{% if page.themelogo %}{{ page.themelogo }}{% elsif site.themelogo %}{{ site.themelogo }}{% else %}https://user-images.githubusercontent.com/25878302/144499035-2911184c-76d3-4611-86e7-bc4e8ff84ff5.jpg{% endif %}" alt="logo" />


<!--<h1 class="logo">{{ page.title }}</h1>-->
<nav class="site-nav">
<ul>
 <li><a href="/"        style="text-decoration:none; color:#fff">Home</a></li>
 <li><a href="#1"       style="text-decoration:none; color:#fff">Kontakt</a></li>
 <li><a href="#2"       style="text-decoration:none; color:#fff">Impressum</a></li>
 <li><a href="#3"       style="text-decoration:none; color:#fff">Haftungsausschluss</a></li>
 <li><a href="#4"       style="text-decoration:none; color:#fff">Datenschutz</a></li>
 <li><a href="#5"       style="text-decoration:none; color:#fff">Quellennachweise</a></li>
 </ul>
</nav>

</div>
